/**
Get your reward in
*/
.get-reward-section {
  background: #F6F6FA;
  padding: 65px 0px 45px 0px;

  .content {
    padding: 54px 75px;
    @media (max-width: 576px) {
      padding: 40px 20px;
    }

    .percent-bar-section {
      height: 32px;
      border-radius: 100px;
      background: #ECECF3;
      .percent-bar {
        background: linear-gradient(85.93deg, #4F4CD1 -1.39%, #B989F8 100%);
        border-radius: 100px;
        transition: all 0.3s;
      }
    }

    .title {
      font-weight: 600;
      font-size: 20px;
      text-transform: capitalize;
      margin-top: 20px;
      margin-bottom: 18px;
    }

    .time-section {
      .date {
        font-weight: 600;
        font-size: 70px;
        line-height: 85px;
        text-align: center;
      }
      .date-unit {
        font-weight: 600;
        font-size: 15px;
        text-align: center;
        text-transform: uppercase;
      }
    }

    .btn-section {
      margin-top: 10px;
      justify-content: flex-end;
      p {
        font-weight: 600;
        font-size: 15px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      .fill-btn {
        width: 175px;
        height: 62px;
        font-weight: 500;
        font-size: 18px;
      }
      @media (max-width: 576px) {
        justify-content: center;
      }
    }
  }
}