/**
img upload modal
*/
.img-upload-modal {
  background: #FFFFFF;
  border-radius: 50px;
  padding: 30px;
  width: 665px;
  transition: all 0.3s;
  @media (max-width: 576px) {
    margin-top: 50px;
  }

  .modal-content-section {
    padding: 10px;
    > .title {
      font-weight: bold;
      font-size: 30px;
      margin-bottom: 22px;
    }

    .img-section {
      img {
        transition: all .3s;
        width: 200px;
        min-width: 150px;
        border-radius: 5px;
      }  
    }

    .img-name {
      margin-top: 15px;
      > .title {
        font-weight: bold;
        font-size: 17px;
      }
      span:last-child {
        font-size: 15px;
      }
    }

    .img-size {
      margin-top: 10px;
      > .title {
        font-weight: bold;
        font-size: 17px;
      }
      span:last-child {
        font-size: 15px;
      }
    }

    .reset-section {
      margin-top: 20px;
      button {
        width: 100px;
        height: 30px;
      }
    }
  }
}